a {
    text-decoration: none;
}

.third-party-join__container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
    align-items: center
}
p{
    grid-row-start: 1;
    grid-column-end: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    align-items:center;
    text-align: center;

}

button{
    grid-row-start: 3;
    grid-column-end: 3;
    grid-column-start: -5;
    grid-column-end: -2;
}
.third-party-join__google-btn{
    height: 175%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.third-party-join__google-btn a{

    left: 50%;
    right: 50%;
}
.third-party-join__google-btn-content{

    display: flex;
    align-items: center    ;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.third-party-join__google-btn-content img{
    
    padding-right: 15px;

}

.page--is-mercado-theme-enabled .third-party-join__google-btn {
    border-color: #0a66c2;
    background-color: transparent;
    height: 48px;
    border-radius: 24px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.third-party-join__google-btn {
    border-color: #0073b1;
    border-width: 1px;
    border-style: solid;
    background-color: #edf0f3;
}
.third-party-join__google-btn {
    border-color: #0073b1;
    border-width: 1px;
    border-style: solid;
    background-color: #edf0f3;
}
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}