a {
    text-decoration: none;
}

.third-party-join__container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
    align-items: center
}
p{
    grid-row-start: 1;
    grid-column-end: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    align-items:center;
    text-align: center;

}

button{
    
    grid-row-start: 3;
    grid-column-end: 3;
    grid-column-start: -5;
    grid-column-end: -2;
}

.third-party-join__google-btn{
    height: 175%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}


.third-party-join__google-btn-content img{
    vertical-align:middle;
    padding-right: 10px;

}

.third-party-join__google-btn {
    border-color: #009ff5;
    border-width: 1px;
    border-style:solid;
    background-color: #ffffff;
}

.third-party-join__google-btn:hover {
    background-color: #b0e2ffa6;
    box-shadow: 0 0 5px #0073b1;
}
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    vertical-align: middle;
    text-align: center;
    
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}